@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KiwiTask</h1>
    <p class="lead">A web app for managing tasks.</p>
    <button type="button" class="btn btn-primary">Primary</button>
</div>

